body {
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  background-position: center top;
  background-color: rgba(17, 79, 9, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  height: 98vh;
  max-height: 98vh;
  max-width: 98vw;
  margin: auto;
  position: relative;
  overflow: hidden;
}

h1#message {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2dvh;
}

#dealerhand, #playerhand {
  perspective: 700px;
}

#dealerhand {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}

#playerhand {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
}

#playerhand img {
  width: 11vh;  
  height: 17vh;
}

.card.hidden, img {
  width: 8vh;
  height: 11vh;
  margin: 0.3vw;
  background-color: white;
  transform-origin: bottom center;
  transform: rotateX(40deg);
}

button {
  position: absolute;
  border-radius: 50px;
  padding: 1vh;
  background-color: #11ffee00;
  transition: background-color 0.3s;
  color: black;
  border: .3vh solid rgb(28, 28, 28);
  transform: translateX(-50%);
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

button:active {
  background-color: darkred;
  border: .1vh solid rgb(28, 28, 28)
}

button:disabled {
  cursor: not-allowed;
    background-color: lightcoral;
    opacity: 0.3;
}

#start{
  bottom: 15%; 
  left: 50%;
}

#hit{
  bottom: 29%; 
  transform: translateX(-300%);
}

#stay {
  bottom: 29%; 
  transform: translateX(150%);
}

#sum {
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  bottom:37%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vh;
}

div {
  width: max-content;
}

.banner {
  position: relative;
  font-family: sans-serif;
  font-weight: 1000;
  background: linear-gradient( #07951d, #c4ed0e, #0d850d);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s infinite;
  -webkit-text-fill-color: rgb(9, 3, 46);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}