body {
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vw;
  background-position: center;
  background-color: rgba(17, 79, 9, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  height: 98vw;
  max-height: 98vw;
  max-width: 98vw;
  margin: auto;
  position: relative;
  overflow: visible;
}

h1#message {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  font-weight: lighter;
}

#dealerhand, #playerhand {
  perspective: 700px;
}

#dealerhand {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
}

#playerhand {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
}

#playerhand img {
  width: 11vw;  
  height: 17vw;
}

.card.hidden, img {
  width: 8vw;
  height: 11vw;
  margin: 0.3vw;
  background-color: white;
  transform-origin: bottom center;
  transform: rotateX(40deg);
}

button {
  position: absolute;
  border-radius: 50px;
  padding: 1vw;
  background-color: #11ffee00;
  transition: background-color 0.3s;
  color: black;
  border: .3vw solid rgb(28, 28, 28);
  transform: translateX(-50%);
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

button:active {
  background-color: darkred;
  border: .1vw solid rgb(28, 28, 28)
}

button:disabled {
  cursor: not-allowed;
    background-color: lightcoral;
    opacity: 0.3;
}

#start{
  bottom: 15%; 
  left: 50%;
}

#hit{
  bottom: 22%; 
  left: 40.5%;
}

#stay {
  bottom: 22%; 
  right: 35%;
  margin-left: 6vw;
}

#sum {
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  bottom: 37.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
}

div {
  width: max-content;
}

.banner {
  position: relative;
  font-family: Impact, sans-serif;
  letter-spacing: 2px;
  background: linear-gradient( #07951d, #c4ed0e, #0d850d);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s infinite;
  -webkit-text-fill-color: rgb(24, 15, 85);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}