body {
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  background-position: center top;
  background-color: rgba(17, 79, 9, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  height: 98vh;
  max-height: 98vh;
  max-width: 98vw;
  margin: auto;
  position: relative;
  overflow: hidden;
}

h1#message {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vh;
}

#dealerhand, #playerhand {
  perspective: 700px;
}

#dealerhand {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}

#playerhand {
  position: absolute;
  top: 44.5vh;
  left: 50%;
  transform: translateX(-50%);
}

#playerhand img {
  width: 11vh;  
  height: 17vh;
}

.card.hidden, img {
  width: 8vh;
  height: 11vh;
  margin: 0.3vw;
  background-color: white;
  transform-origin: bottom center;
  transform: rotateX(40deg);
}

button {
  position: absolute;
  transform: translateX(-50%);
  cursor: pointer;
}

.game-button {
  position: absolute;
  border-radius: 50px;
  padding: 1vh;
  background-color: #11ffee00;
  transition: background-color 0.3s;
  color: black;
  border: .3vh solid rgb(28, 28, 28);
  transform: translateX(-50%);
  font-weight: bolder;
  cursor: pointer;
}

.game-button:hover {
  background-color: darkgreen;
}

.game-button:active {
  background-color: darkred;
  border: .1vh solid rgb(28, 28, 28)
}

.game-button:disabled {
  cursor: not-allowed;
    background-color: lightcoral;
    opacity: 0.3;
}

#deal{
  top: 72.5%; 
  left: 50%;
  background:yellowgreen;
}

#hit{
  bottom: 29%;
  left: 51%; 
  transform: translateX(-300%);
}

#stay {
  bottom: 29%; 
  left: 49.4%;
  transform: translateX(150%);
}

#sum {
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  bottom: 34%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vh;
}

div {
  width: max-content;
}

.banner {
  position: relative;
  font-family: sans-serif;
  font-weight: 1000;
  background: linear-gradient( #07951d, #c4ed0e, #0d850d);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s infinite;
  -webkit-text-fill-color: rgb(9, 3, 46);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.bet-button {
  position: relative;  /* Required for absolute positioning of pseudo-elements */
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
  outline: none;
}

.bet-button img {
  max-width: 6vh;
  max-height: 7vh;
  background-color: transparent;
}

.bet-button:hover {
  background-color: transparent;
}

.bet-button:hover::before {
  content: attr(data-value);
  position: absolute;
  bottom: -1vh;  
  left: 50%;  
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 1.5vh;
}

.bet-button:disabled {
  cursor: not-allowed;
    opacity: 0.75;
}

#bet1 {
  left: 8vh;
  bottom: -72.4vh;
}

#bet10 {
  left: 6vh;
  bottom: -73.7vh;
}

#bet25 {
  left: 4vh;
  bottom: -74vh;
}

#bet50 {
  left: 2vh;
  bottom: -73.7vh;
}

#bet100 {
  left: 0vh;
  bottom: -72.7vh;
}

#playerBalance{
  position: absolute;
  top: 73%;
  font-weight: bolder;
  font-size: 2.5vh;
}

#currentBet {
  position: absolute;
  top: 73%;
  font-weight: bolder;
  font-size: 2.5vh;
  left: 57%;
}